.env
*.crt
*.key
*.json
secrets/
*/database/
authelia/config/
zigbee/homeassistant/config/
zigbee/mosquitto/
zigbee/zigbee2mqtt/data/*
!zigbee/zigbee2mqtt/data/configuration.yaml
*.db
adguard/adguard/
adguard/unbound_*/

